.article-list {
  width: 100%;
  background: rgba(240, 240, 240, 0.8);
  .date {
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 14px;
    color: rgba(12, 12, 12, 0.9);
  }
  .list {
    margin: 0 10px;
    .story {
      display: flex;
      width: 100%;
      margin-bottom: 8px;
      padding: 14px 14px;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 1px 1px 1px #ccc;
      .title {
        flex: 1;
        padding-right: 10px;
        font-size: 18px;
        line-height: 22px;
        color: #000;
      }
      .images {
        flex: 0 0 auto;
        height: 75px;
      }
    }
  }
}
